body{
    background-color: #000000;
    color: darkgrey;
    background-image: url("images/bg1.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;

}



header{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
    z-index: 9000;
}

.navbar{
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    height: 8vh;
    width: 95vw;
    box-shadow: 0 0 50px 0 rgb(119, 115, 115);
    border-radius: 15vw;
    border: 3px solid #8a8989;
    background: linear-gradient(160deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.27), rgba(255, 255, 255, 0.08)); /* Glassy gradient */
    backdrop-filter: blur(10px);
    position: fixed;

}

.nav-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

.nav-ul{
    max-height: 8vh;
    color: wheat;
    padding-right:0.5vw ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
}

.nav-ul li{
    color: wheat;
    font-size: 1.4rem;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 1vw;
    border: none;
}

.nav-ul li a{
    padding: 1vw;
    color: wheat;
    text-decoration: none;
    text-shadow: 1px 1px 10px black;
    border: 3px solid rgba(253, 253, 253, 0);
    border-radius: 2vw;
}



.nav-ul li a:hover{
    box-shadow: 0 0 10px saddlebrown;
    background-color: saddlebrown;
    border: 3px solid #55270a;
    border-radius: 2vw;
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5vw;
}
.logo img{
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    filter: drop-shadow(4px 4px 8px rgba(255, 204, 0, 0.56));
}

.head1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-right: 3vw;
    padding-left: 3vw;
}

.head1-img{
    width: 50vw;
    padding: 5vw;
}

.head1-img img{
    width: 40vw;

    border-radius: 10vw;
    box-shadow: 10px 10px 100px saddlebrown;
}

.head1-text{
    z-index: -100;
    width: 50vw;
    backdrop-filter: blur(20px);
    border-radius: 10vw;
    padding: 5vw;
}

.head1-text h1{
    text-shadow: 1px 1px 5px black;
    color: #eaac84;
    padding: 1vw;
}

.head1-text-box{
    border-radius: 1vw;
    background-color: saddlebrown;
    width: 40vw;
    box-shadow: 1px 1px 10px saddlebrown;
}

.head2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.footer-div{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    bottom: 0;
}

.footer-div-box-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: self-start;
    height: 80%;
    width: 100%;
    backdrop-filter: blur(20px);
    font-size: 2.4vh;
}

.footer-div-box-2{
    color:saddlebrown;
    background-color: black;
    bottom: 0;
    height: 20%;
    width: 100%;
    font-size: 130%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}