body{
    background-color: #000000;
    color: darkgrey;
    background-image: url("images/bg1.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}



header{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
}

.navbar{
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    height: 8vh;
    width: 95vw;
    box-shadow: 0 0 50px 0 rgb(119, 115, 115);
    border-radius: 15vw;
    border: 3px solid #8a8989;
    background: linear-gradient(160deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.27), rgba(255, 255, 255, 0.08)); /* Glassy gradient */
    backdrop-filter: blur(10px);
    position: fixed;

}

.nav-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
}

.nav-ul{
}

.nav-ul li{
    font-size: 1.4rem;
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 1vw;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5vw;
}
.logo img{
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    filter: drop-shadow(4px 4px 8px rgba(255, 204, 0, 0.56));
}

.head1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.head2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

footer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.footer-div{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    bottom: 0;
}

.footer-div-box-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: self-start;
    height: 80%;
    width: 100%;
    backdrop-filter: blur(20px);
    font-size: 2.4vh;
}

.footer-div-box-2{
    color:saddlebrown;
    background-color: black;
    bottom: 0;
    height: 20%;
    width: 100%;
    font-size: 130%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}